<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    {% block header_styles %}{% endblock %}
    <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    {% block header_scripts %}{%endblock %}
    <title>{% block title %}Devalbo Bot{% endblock %}</title>
</head>

{% block body %}
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="">
                    <a href="joystick">
                        Joystick Navigation
                    </a>
                </li>
                <li class="">
                    <a href="sliders">
                        Speed Sliders Navigation
                    </a>
                </li>
                <li class="">
                    <a href="form">
                        Form Based Navigation
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% block container_content %}Container content goes here{% endblock %}
</div>

{% block footer_scripts %}Footer scripts go here{% endblock %}

</body>
{% endblock %}
</html>
