<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/phone.css">

  <script src="/static/js/jquery-1.7.2.min.js"></script>
  <script src="/static/js/mobile.js"></script>

  <title></title>
</head>

<body onload="init()">

 <canvas id="left_control" width="75" height="400" style='background-color:skyblue;'></canvas>
 {{ camera_html_tag }}
  <canvas id="right_control" width="75" height="400" style='background-color:skyblue;'></canvas>
 <span id="status_left">Left: </span>
 <span id="status_right">Right: </span>
</body>
</html>