<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		
		<style>
		body {
			overflow	: visible;
			padding		: 0;
			margin		: 0;
			background-color: #BBB;
		}
		#info {
			position	: absolute;
			top		: 0px;
			width		: 100%;
			padding		: 5px;
			text-align	: center;
		}
		#info a {
			color		: #66F;
			text-decoration	: none;
		}
		#info a:hover {
			text-decoration	: underline;
		}
		#container {
			width		: 100%;
			height		: 100%;
			overflow	: visible;
			padding		: 0;
			margin		: 0;
			-webkit-user-select	: none;
			-moz-user-select	: none;
		}
		</style>
		<title>RoboPlexx Joystick: Absolute</title>
	</head>

	<body>
        <table>
          <tr>
            <td><img id="streamimage" class="xform" src="http://192.168.0.152:8080/?action=snapshot"></td>
            <td>
		<div id="container" style="max-height: 300px;max-width: 300px;"></div>
		<!--
		<div id="info">
			<a href="http://learningthreejs.com/blog/2011/12/26/let-s-make-a-3d-game-virtual-joystick/" target="_blank">VirtualJoystick.js</a>
			A library javascript to provide a virtual joystick on touchscreen.
			-
			inspired by this
			<a href="http://sebleedelisle.com/2011/04/multi-touch-game-controller-in-javascripthtml5-for-ipad/">post</a>
			from
			<a href="http://sebleedelisle.com/">seb.ly</a>
			<br/>
			Touch the screen and move
			-
			works with mouse too as debug
			<br/>
			<span id="result"></span>
			<span id="command"></span>
		</div>
		-->
		<div id="info">
			<span id="command"></span>
		</div>
              </td>
            </tr>
          </table>

		<script src="/static/js/jquery-1.7.2.min.js"></script>
		<script src="/static/js/virtualjoystick_absolute.js"></script>
		<script>
			console.log("touchscreen is", VirtualJoystick.touchScreenAvailable() ? "available" : "not available");
			var joystick	= new VirtualJoystick({
				container	: document.getElementById('container'),
				mouseSupport	: true,
			});

			var lastSentSpeedLeft = null,
				lastSentSpeedRight = null;
			
			function sendUpdatedSpeeds() {
				var speedLeft = joystick.getLeftSpeedPercentCommand(),
					speedRight = joystick.getRightSpeedPercentCommand();
                if (speedLeft == null || speedRight == null) {
                    return;
                }

				if (speedLeft != lastSentSpeedLeft ||
					speedRight != lastSentSpeedRight)
				{
//                    alert({ left_speed: speedLeft, right_speed: speedRight });
                    var sentTimeMs = new Date().getTime();
					$.post("/io/diff_drive/motor_speeds", { left_speed: speedLeft, right_speed: speedRight} );
					lastSentSpeedLeft = speedLeft;
					lastSentSpeedRight = speedRight;
				}	
				var outputEl	= document.getElementById('command');
				outputEl.innerHTML	= '<b>Command:</b> '
					+ ' Left: '+lastSentSpeedLeft
					+ ' Right: '+lastSentSpeedRight;		
			}
			setInterval(sendUpdatedSpeeds, 1000/200);
			
		</script>
	</body>
</html>